<h1>{{title}}</h1>
<hr>
<form method="post" action="/users/info">
	<input type="text" name="rollno" placeholder="enter rollno">
	<input type="text" name="name" placeholder="enter name">
	<input type="Number" name="age" placeholder="enter age">
	<input type="Number" name="mobile" placeholder="enter mobile no">
	<input type="text" name="branch" placeholder="enter branch">
	<button type="submit">SUBMIT</button>
</form>